 {{#if authenticated}}
<h3 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Giỏ hàng của bạn</span></h3>
        <div class="container-fluid py-1 pt-1">
            <div class="container py-1">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Giá</th>
                            {{!-- <th scope="col">Số lượng</th>
                            <th scope="col">Tổng</th> --}}
                            <th scope="col">Mua</th>
                            <th scope="col">Xóa</th>
                          </tr>
                        </thead>
                        <tbody class="align-middle large-frame">
                            {{#each cartInfo}}
                            <tr class="product-row">
                                <td class="align-middle" style="text-align: center;">
                                    <img src="{{this.image}}" alt="" style="width: 50px;">
                                </td>
                                <td class="align-middle">
                                    <span style="margin-left: 10px;">{{this.name}}</span>
                                </td>
                                <td class="align-middle text-center  giaText" class="giaInput" id="gia" >{{this.gia}}</td>
                                {{!-- <td class="align-middle"> 
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-minus" id="slminus">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input id="slvalue" type="text" class="so-luong form-control form-control-sm bg-secondary border-0 text-center quantity" value="1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-plus" id="slplus">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center giaText" id="total-price" >
                                    <span id="cartTotalPrice">{{this.gia}}</span>
                                </td> --}}
                                
                                <td class="align-middle" style="text-align: center;">
                                    <div class="d-flex align-items-center justify-content-center mt-1">
                                        <a href="/courses/{{this._id}}/add_cart" class="btn btn-primary">Mua</a>
                                    </div> 
                                </td>
                                <td class="align-middle" style="text-align: center;">
                                    <button class="btn btn-md rounded-circle bg-light border mt-1" >
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{{/if}}

                                 {{!-- Định dạng giá tiền --}}
                                <script>
                                        // Chọn tất cả các phần tử có lớp "giaText"
                                    const giaElements = document.querySelectorAll('.giaText');

                                    // Lặp qua tất cả các phần tử và áp dụng định dạng
                                    giaElements.forEach(element => {
                                        const giaTuMongoDB = parseFloat(element.textContent);
                                        const giaDaDinhDang = giaTuMongoDB.toLocaleString('vi-VN');
                                        element.textContent = giaDaDinhDang + ' đ';
                                    });

                                </script> 