 {{#if authenticated}}
<h3 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Giỏ hàng của bạn</span></h3>
        <div class="container-fluid py-1 pt-1">
            <div class="container py-1">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Giá</th>
                            {{!-- <th scope="col">Số lượng</th>
                            <th scope="col">Tổng</th> --}}
                            <th scope="col">Mua</th>
                            <th scope="col">Xóa</th>
                          </tr>
                        </thead>
                        <tbody class="align-middle large-frame">
                            {{#each cartInfo}}
                            <tr class="product-row">
                                <td class="align-middle" style="text-align: center;">
                                    <img src="{{this.image}}" alt="" style="width: 50px;">
                                </td>
                                <td class="align-middle">
                                    <span style="margin-left: 10px;">{{this.name}}</span>
                                </td>
                                <td class="align-middle text-center  giaText" class="giaInput" id="gia" >{{this.gia}}</td>
                                <td class="align-middle" style="text-align: center;">
                                    <div class="d-flex align-items-center justify-content-center mt-1">
                                        <a href="/courses/{{this._id}}/add_cart" class="btn btn-primary">Mua</a>
                                    </div> 
                                </td>
                                <td class="align-middle" style="text-align: center;">
                                    <a class="fa fa-times text-danger" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-book-modal"></a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{{/if}}
{{!-- Xác nhận xóa sách --}}
<div id="delete-book-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khỏi giỏ hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa cuốn sách này khỏi giỏ hàng?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-book" type="button" class="btn btn-primary">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>
{{!-- form ẩn của xóa --}}
<form name="delete-book-form" method="POST">    </form>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var courseId;
        var deleteForm = document.forms['delete-book-form'];
        var btnDeleteBook = document.getElementById('btn-delete-book');

        $('#delete-book-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
            console.log(courseId);
        });

        var btnDeleteBook = document.getElementById('btn-delete-book');
        btnDeleteBook.onclick = function(){
            deleteForm.action = '/cart/' + courseId + '?_method=DELETE';
            
            deleteForm.submit();
        } 
    });
        
</script>   


                                 {{!-- Định dạng giá tiền --}}
                                <script>
                                        // Chọn tất cả các phần tử có lớp "giaText"
                                    const giaElements = document.querySelectorAll('.giaText');

                                    // Lặp qua tất cả các phần tử và áp dụng định dạng
                                    giaElements.forEach(element => {
                                        const giaTuMongoDB = parseFloat(element.textContent);
                                        const giaDaDinhDang = giaTuMongoDB.toLocaleString('vi-VN');
                                        element.textContent = giaDaDinhDang + ' đ';
                                    });

                                </script> 