{{!-- <h1>Đăt hàng thành công</h1>
<ul action="/checkout/user-orders">
    <li>
        <p>Mã đơn hàng: {{order._id}}</p>
        <p>Người nhận: {{order.fullName}}</p>
        <p>Email: {{order.email}}</p>
        <p>Số điện thoại nhận hàng: {{order.phone}}</p>
        <p>Tỉnh: {{order.province}}</p>
        <p>Quận/ Huyện/ Thị xã: {{order.street}}</p>
        <p>Phường/ Thị Trấn: {{order.district}}</p>
        <p>Địa chỉ nhận hàng cụ thể: {{order.specificAddress}}</p>
    </li>
</ul> --}}
{{#if authenticated}}
            <div class="col-lg-12 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Thành tiền</th>
                            <th>Người nhận</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ nhận hàng</th> 
                            
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <td class="align-middle"><img src="/public/img/product-1.jpg" alt="" style="width: 50px;"> ProductName</td>
                            <td class="align-middle">{{course.gia}}</td>                            
                            <td class="align-middle">{{order.fullName}}</td>
                            <td class="align-middle ">{{order.phone}}</td>
                            <td class="align-middle" style="text-align: center;">{{order.specificAddress}}</td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12 mb-2">
                <span class="success-text">Đặt hàng thành công</span>
                <span class="green-check"></span>
            </div>
            <style>
                /* Sử dụng dấu tích xanh trong CSS */
                .green-check::before {
                    content: "\2714"; /* Mã Unicode của dấu tích xanh */
                    color: #00FF00; /* Màu xanh */
                    font-size: 24px; /* Kích thước font */
                    margin-right: 10px; /* Khoảng cách với nội dung khác (tuỳ chọn) */
                }

                .green-check {
                    display: inline-block; /* Hiển thị trên cùng 1 hàng */
                }
                .success-text {
                    font-size: 20px; /* Kích thước font tăng lên */
                    font-weight: bold; /* Đặt độ đậm cho chữ */
                }
            </style>

{{/if}}