{{#if authenticated}}
<div class="container-fluid pt-2 pb-3">
    <h3 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Đọc Sách Online Miễn Phí</span></h3>
    <div class="row px-xl-1">
        {{#each book_frees}} 
        <div class="col-sm-6 col-lg-3 col-md-4 pb-1">
            <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <a href="/book_free/detail/{{this.slug}}">
                            <img src="{{this.image}}" class="img-fluid w-100 pt-3" alt="{{this.name}}">                          
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square add-to-cart" href="" data-sach-id="{{this._id}}"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square heart-icon" href="" data-sach-id="{{this._id}}"><i class="far fa-heart "></i></a>
                            </div>
                        </a>  
                    </div>  
                    <div class="text-center py-1">         
                        <div class="card-body">
                            {{!-- <div class="h6 text-decoration-none text-truncate" href="">{{this.name}}</div> --}}
                            <div class="h6 text-decoration-none text-truncate nameInput">
                                <a href="/courses/{{this.slug}}">{{this.name}}</a>
                            </div>

                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <p class="card-text giaText" class="giaInput">{{this.gia}} đ</p>                        
                            </div>  
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <a href="/bookfree/detail/{{this.slug}}" class="btn btn-primary">Đọc sách</a>
                            </div> 
                        </div>
                    </div> 
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

                                {{!-- Định dạng giá tiền --}}
                                <script>
                                        // Chọn tất cả các phần tử có lớp "giaText"
                                    const giaElements = document.querySelectorAll('.giaText');

                                    // Lặp qua tất cả các phần tử và áp dụng định dạng
                                    giaElements.forEach(element => {
                                        const giaTuMongoDB = parseFloat(element.textContent);
                                        const giaDaDinhDang = giaTuMongoDB.toLocaleString('vi-VN');
                                        element.textContent = giaDaDinhDang + ' đ';
                                    });

                                </script> 
                                
{{!-- // Xử lý khi click trái tim --}}
<script>
    const heartIcon = document.getElementsByClassName('heart-icon');
    {{!-- console.log(heartIcon); --}}
    for (let i = 0 ; i < heartIcon.length; i++) {
        {{!-- console.log("1"); --}}
        heartIcon[i].addEventListener('click', async () => {
        try {
            // Lấy data-sach-id từ biểu tượng trái tim để biết sách cụ thể
            const heart = {
                id: heartIcon[i].getAttribute('data-sach-id'),
            };
            console.log(heart);
            fetch('/heart/add_to_hearts', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(heart)
            })
        } catch (error) {
            console.error('Lỗi khi xử lý sự kiện click trái tim:', error);
        }
    });
    } 
</script>

{{!-- // Xử lý khi click giỏ hàng --}}
<script>
    const addToCart = document.getElementsByClassName('add-to-cart');
    {{!-- console.log(addToCart); --}}
    for (let i = 0 ; i < addToCart.length; i++) {
        {{!-- console.log("1"); --}}
        addToCart[i].addEventListener('click', async () => {
        try {
            // Lấy data-sach-id từ biểu tượng giỏ hàng để biết sách cụ thể
            const cart = {
                id: addToCart[i].getAttribute('data-sach-id'),
            };
            console.log(cart);
            fetch('/cart/add_to_carts', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(cart)
            })
        } catch (error) {
            console.error('Lỗi khi xử lý sự kiện click giỏ hàng:', error);
        }
    });
    } 
</script>