
<div class="container-fluid pt-2 pb-3">
    <h3 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Đọc Sách Online Miễn Phí</span></h3>
    <div class="row px-xl-1">
        {{#each book_frees}} 
        <div class="col-sm-6 col-lg-3 col-md-4 pb-1">
            <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <a href="/book_free/detail/{{this.slug}}">
                            <img src="{{this.image}}" class="img-fluid w-100 pt-3" alt="{{this.name}}">                          
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            </div>
                        </a> 
                    </div>  
                    <div class="text-center py-1">         
                        <div class="card-body">
                            <div class="h6 text-decoration-none text-truncate" href="">{{this.name}}</div>                             
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <p class="card-text">{{this.gia}} đ</p>                        
                            </div>  
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <a href="/bookfree/detail/{{this.slug}}" class="btn btn-primary">Đọc sách</a>
                            </div> 
                        </div>
                    </div> 
            </div>
        </div>
        {{/each}}
    </div>
</div>
