{{#if authenticated}}
<h3 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sách yêu thích của bạn</span></h3>
<div class="container-fluid pt-1 pb-3">
    <div class="row px-xl-1"> 
        {{#each heartInfo}}
        <div class="col-sm-6 col-lg-3 col-md-4 pb-1">
            <div class="product-item bg-light mb-4">
                {{!-- <div class="card card-course-item"> --}} 
                    <div class="product-img position-relative overflow-hidden">
                        <a href="/courses/{{this.slug}}">
                            <img src="{{this.image}}" class="img-fluid w-100 pt-3" alt="{{this.name}}" class="imageInput">                          
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square xoa-icon" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-book-modal"><i class="fa fa-times text-danger "></i></a>
                            </div>
                        </a> 
                    </div>  
                    <div class="text-center py-1">         
                        <div class="card-body">
                            <a class="h6 text-decoration-none text-truncate" href="/courses/{{this.slug}}" class="nameInput">{{this.name}}</a>                      
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <p class="card-text giaText" class="giaInput">{{this.gia}} đ</p> 
                      
                            </div> 
                                     
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <a href="/courses/{{this._id}}/add_cart" class="btn btn-primary">Mua ngay</a>
                            </div> 
                        </div>
                    </div> 
                {{!-- </div> --}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
 {{/if}}
 {{!-- Xác nhận xóa sách --}}
<div id="delete-book-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khỏi giỏ hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa cuốn sách này khỏi mục yêu thích?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-book" type="button" class="btn btn-primary">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>
{{!-- form ẩn của xóa --}}
<form name="delete-book-form" method="POST">    </form>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var courseId;
        var deleteForm = document.forms['delete-book-form'];
        var btnDeleteBook = document.getElementById('btn-delete-book');

        $('#delete-book-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
            console.log(courseId);
        });

        var btnDeleteBook = document.getElementById('btn-delete-book');
        btnDeleteBook.onclick = function(){
            deleteForm.action = '/heart/' + courseId + '?_method=DELETE';
            
            deleteForm.submit();
        } 
    });
        
</script> 

                                {{!-- Định dạng giá tiền --}}
                                <script>
                                        // Chọn tất cả các phần tử có lớp "giaText"
                                    const giaElements = document.querySelectorAll('.giaText');

                                    // Lặp qua tất cả các phần tử và áp dụng định dạng
                                    giaElements.forEach(element => {
                                        const giaTuMongoDB = parseFloat(element.textContent);
                                        const giaDaDinhDang = giaTuMongoDB.toLocaleString('vi-VN');
                                        element.textContent = giaDaDinhDang + ' đ';
                                    });

                                </script> 
 