{{!-- {{#if authenticated}} --}}
{{#if isFirstPage}}
<!-- Carousel Start -->
    <div class="container-fluid mb-1">
        <div class="row px-xl-6">
            <div class="col-lg-8">
                <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#header-carousel" data-slide-to="1"></li>
                        <li data-target="#header-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item position-relative" style="height: 380px;">
                            <img class="position-absolute w-100 h-100" src="/public/img/banner-3.jpg" style="object-fit: cover; filter: brightness(1.2);">
                        </div>
                        <div class="carousel-item position-relative active" style="height: 380px;">
                            <div class="position-absolute w-100 h-100" style="background-image: url('/public/img/banner-1.jpg'); background-size: cover; background-position: center; filter: brightness(1.2);"></div>
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Sách Mới</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn"></p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item position-relative" style="height: 380px;">
                            <img class="position-absolute w-100 h-100" src="/public/img/banner-2.jpg" style="object-fit: cover; filter: brightness(1.2);">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Sách Tái Bản</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn"></p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-offer mb-30" style="height: 185px;">
                    <img class="img-fluid" src="/public/img/offer-1.jpg" alt="" style="filter: brightness(1.2);">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">ƯU ĐÃI 20%</h6>
                        <h3 class="text-white mb-3">Deal cực sốc </h3>
                        <a href="/promotions" class="btn btn-primary">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-offer mb-30" style="height: 185px;">
                    <img class="img-fluid" src="/public/img/offer-2.jpg" alt="" style="filter: brightness(1.2);">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">ƯU ĐÃI 15%</h6>
                        <h3 class="text-white mb-3">Giảm giá đặc biệt</h3>
                        <a href="/promotions" class="btn btn-primary">Mua Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


       <!-- Featured Start -->
    <div class="container-fluid pt-1">
        <div class="row px-xl-1 pb-1">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 10px; height: 50px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Mã giảm giá</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 10px;height: 50px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Miễn phí vận chuyển</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 10px;height: 50px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Hoàn trả</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 10px;height: 50px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Hỗ trợ</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->
{{/if}}

<div class="container-fluid pt-1 pb-3">
    <div class="row px-xl-1">
        {{#each courses}}
        <div class="col-sm-6 col-lg-3 col-md-4 pb-1">
            <div class="product-item bg-light mb-4">
                {{!-- <div class="card card-course-item"> --}}
                    <div class="product-img position-relative overflow-hidden">
                        <a href="/courses/{{this.slug}}">
                            <img src="{{this.image}}" class="img-fluid w-100 pt-3" alt="{{this.name}}" class="imageInput">                          
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square add-to-cart" href="" data-sach-id="{{this._id}}"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square heart-icon" href="" data-sach-id="{{this._id}}"><i class="far fa-heart "></i></a>
                            </div>
                        </a> 
                    </div>   
                    <div class="text-center py-1">         
                        <div class="card-body">
                            {{!-- <a class="h6 text-decoration-none text-truncate" href="/courses/{{this.slug}}" class="nameInput">{{this.name}}</a>   --}}
                            <div class="h6 text-decoration-none text-truncate nameInput">
                                <a href="/courses/{{this.slug}}">{{this.name}}</a>
                            </div>

                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <p class="card-text giaText red-text" class="giaInput">{{this.gia}} đ</p> 
                      
                            </div> 
   
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <a href="/courses/{{this._id}}/add_cart" class="btn btn-primary">Mua ngay</a>
                            </div> 
                        </div>
                    </div> 
                {{!-- </div> --}}
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{!-- // Xử lý khi click trái tim --}}
<script>
    const heartIcon = document.getElementsByClassName('heart-icon');
    {{!-- console.log(heartIcon); --}}
    for (let i = 0 ; i < heartIcon.length; i++) {
        {{!-- console.log("1"); --}}
        heartIcon[i].addEventListener('click', async () => {
        try {
            // Lấy data-sach-id từ biểu tượng trái tim để biết sách cụ thể
            const heart = {
                id: heartIcon[i].getAttribute('data-sach-id'),
            };
            console.log(heart);
            fetch('/heart/add_to_hearts', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(heart)
            })
        } catch (error) {
            console.error('Lỗi khi xử lý sự kiện click trái tim:', error);
        }
    });
    } 
</script>
{{!-- // Xử lý khi click giỏ hàng --}}
<script>
    const addToCart = document.getElementsByClassName('add-to-cart');
    {{!-- console.log(addToCart); --}}
    for (let i = 0 ; i < addToCart.length; i++) {
        {{!-- console.log("1"); --}}
        addToCart[i].addEventListener('click', async () => {
        try {
            // Lấy data-sach-id từ biểu tượng giỏ hàng để biết sách cụ thể
            const cart = {
                id: addToCart[i].getAttribute('data-sach-id'),
            };
            console.log(cart);
            fetch('/cart/add_to_carts', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(cart)
            })
        } catch (error) {
            console.error('Lỗi khi xử lý sự kiện click giỏ hàng:', error);
        }
    });
    } 
</script>


                                {{!-- Định dạng giá tiền --}}
                                <script>
                                        // Chọn tất cả các phần tử có lớp "giaText"
                                    const giaElements = document.querySelectorAll('.giaText');

                                    // Lặp qua tất cả các phần tử và áp dụng định dạng
                                    giaElements.forEach(element => {
                                        const giaTuMongoDB = parseFloat(element.textContent);
                                        const giaDaDinhDang = giaTuMongoDB.toLocaleString('vi-VN');
                                        element.textContent = giaDaDinhDang + ' đ';
                                    });

                                </script> 
<!-- Phân trang -->
<div class="container" id="course-list">
    <div class="row justify-content-center">
        <nav>
            <ul class="pagination">
                {{#if hasPrevPage}}
                <li class="page-item">
                    <a id="next-button" class="page-link" href="/?page={{this.pageNumber}}" aria-label="Trang trước">Trước
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {{/if}}

                {{#each pages}}
                <li  class="page-item {{#if this.active}}active{{/if}}">
                    <a class="page-link" href="/?page={{this.pageNumber}}">{{this.pageNumber}}</a>
                </li>
                {{/each}}

                {{#if hasNextPage}}
                <li class="page-item">
                    <a  id="prev-button" class="page-link" href="/?page={{nextPage}}" aria-label="Trang sau" style="width: 74px">Sau
                        <span aria-hidden="true">&raquo;</span> 
                    </a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>
</div>

{{!-- Phân trang --}}
<script>
    $(document).ready(function () {
  // Xử lý sự kiện khi người dùng nhấp vào nút "Next"
  $('#next-button').click(function (e) {
    e.preventDefault(); // Ngăn chặn sự kiện mặc định
    // Lấy trang hiện tại và tải trang tiếp theo bằng AJAX
    const currentPage = parseInt($('#current-page').text());
    loadPage(currentPage + 1);
  });

  // Xử lý sự kiện khi người dùng nhấp vào nút "Previous"
  $('#prev-button').click(function (e) {
    e.preventDefault(); // Ngăn chặn sự kiện mặc định
    // Lấy trang hiện tại và tải trang trước đó bằng AJAX
    const currentPage = parseInt($('#current-page').text());
    loadPage(currentPage - 1);
  });

  // Hàm để tải dữ liệu trang bằng AJAX
  function loadPage(page) {
    $.ajax({
      url: `/?page=${page}`, // Điều hướng đến endpoint với trang cụ thể
      type: 'GET',
      success: function (data) {
        // Cập nhật giao diện với dữ liệu mới từ server
        // Ví dụ: cập nhật danh sách khóa học
        updateCourses(data.courses);

        // Cập nhật trang hiện tại và các nút "Next" và "Previous"
        $('#current-page').text(data.currentPage);
        if (data.hasPrevPage) {
          $('#prev-button').show();
        } else {
          $('#prev-button').hide();
        }
        if (data.hasNextPage) {
          $('#next-button').show();
        } else {
          $('#next-button').hide();
        }
      },
      error: function (error) {
        console.error(error);
      },
    });
  }

  // Hàm để cập nhật danh sách khóa học trong giao diện
  function updateCourses(courses) {
    // Xóa danh sách khóa học hiện có
    $('#course-list').empty();

    // Thêm các khóa học mới vào danh sách
    courses.forEach(function (course) {
      const courseHtml = `
        <div class="col-sm-6 col-lg-3 col-md-4 pb-1">
          <!-- Điều chỉnh mã HTML để hiển thị thông tin khóa học -->
        </div>
      `;
      $('#course-list').append(courseHtml);
    });
  }

  // Gọi hàm loadPage để tải trang ban đầu
  loadPage(1);
});

</script>

{{!-- {{/if}} --}}









 