<!-- Carousel Start -->
    <div class="container-fluid mb-1">
        <div class="row px-xl-6">
            <div class="col-lg-8">
                <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#header-carousel" data-slide-to="1"></li>
                        <li data-target="#header-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item position-relative" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="/public/img/banner-3.jpg" style="object-fit: cover; filter: brightness(1.2);">
                            {{!-- <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown"></h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn"></p>
                                </div>
                            </div> --}}
                        </div>
                        <div class="carousel-item position-relative active" style="height: 430px;">
                            <div class="position-absolute w-100 h-100" style="background-image: url('/public/img/banner-1.jpg'); background-size: cover; background-position: center; filter: brightness(1.2);"></div>
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Sách Mới</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn"></p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item position-relative" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="/public/img/banner-2.jpg" style="object-fit: cover; filter: brightness(1.2);">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Sách Tái Bản</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="/public/img/offer-1.jpg" alt="" style="filter: brightness(1.2);">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">ƯU ĐÃI 20%</h6>
                        <h3 class="text-white mb-3">Deal chào hè </h3>
                        <a href="/promotion" class="btn btn-primary">Mua Ngay</a>
                    </div>
                </div>
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="/public/img/offer-2.jpg" alt="" style="filter: brightness(1.2);">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">ƯU ĐÃI 15%</h6>
                        <h3 class="text-white mb-3">Giảm giá đặc biệt</h3>
                        <a href="/promotion" class="btn btn-primary">Mua Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


       <!-- Featured Start -->
    <div class="container-fluid pt-2">
        <div class="row px-xl-1 pb-1">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 10px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Mã giảm giá</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 10px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Miễn phí vận chuyển</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 10px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Hoàn trả</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 10px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Hỗ trợ</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->


<div class="container-fluid pt-2 pb-3">
    <div class="row px-xl-1">
        {{#each courses}}
        <div class="col-sm-6 col-lg-3 col-md-4 pb-1">
            <div class="product-item bg-light mb-4">
                {{!-- <div class="card card-course-item"> --}}
                    <div class="product-img position-relative overflow-hidden">
                        <a href="/courses/{{this.slug}}">
                            <img src="{{this.image}}" class="img-fluid w-100 pt-3" alt="{{this.name}}">                          
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            </div>
                        </a> 
                    </div>  
                    <div class="text-center py-1">         
                        <div class="card-body">
                            <a class="h6 text-decoration-none text-truncate" href="/courses/{{this.slug}}">{{this.name}}</a>                      
                            {{!-- <script>
                                // Định nghĩa helper breaklines
                                Handlebars.registerHelper('breaklines', function(text) {
                                text = Handlebars.Utils.escapeExpression(text);
                                text = text.replace(/(\r\n|\n|\r)/gm, '<br>');
                                return new Handlebars.SafeString(text);
                                });
                            </script>
                            <a class="h6 text-decoration-none" href="/courses/{{this.slug}}">{{{breaklines this.name}}}</a> --}}
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <p class="card-text">{{this.gia}} đ</p>                        
                            </div>       
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <a href="/courses/{{this._id}}/add_cart" class="btn btn-primary">Mua ngay</a>
                            </div> 
                        </div>
                    </div> 
                {{!-- </div> --}}
            </div>
        </div>
        {{/each}}
    </div>
    {{!-- <div class="col-12">
        <div id="blogs-pagination">
        <nav>
            <ul class="pagination justify-content-center">
                {{#paginate courses itemsPerPage=10}}
                    <li class="{{#if isFirstPage}}disabled{{/if}} page-item">
                        <a class="page-link" href="{{pageLink firstPageNum}}">Trước</a>
                    </li>
                    {{#each pages}}
                        <li class="{{#if isActive}}active{{/if}} page-item">
                            <a class="page-link" href="{{pageLink}}">
                                {{pageNumber}}
                            </a>
                        </li>
                    {{/each}}
                    <li class="{{#if isLastPage}}disabled{{/if}} page-item">
                        <a class="page-link" href="{{pageLink lastPageNum}}">Sau</a>
                    </li>
                {{/paginate}}
            </ul>
        </nav>
        </div>
    </div> --}}
    {{!-- <ul id="pagination">

    </ul> --}}


                    {{!-- <div class="col-12">
                        <nav>
                          <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#">Trước</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                          </ul>
                        </nav>
                    </div> --}}











 