<div class="mt-4">
    <div class="row">
        <div class="col-lg-5">
            <img src={{course.image}}  width="400" height="450">
        </div>

        <div class="col-lg-7">
            {{!-- <h1>{{course.name}}</h1> --}}
           <div class="info">
                <h1>
                    <a href="/sach/44720/thu-gui-nha-tieu-thuyet-tre">{{course.name}}</a>
                </h1>
            <div class="intro clearfix">
                <div class="attributes">
                    <ul>
                            <li class="dataattr">
                                <span>Mã sản phẩm:</span>
                                <a href="#">{{course._id}}</a>
                            </li>
                            <li class="dataattr">
                                    <span>Tác giả: </span>
                                    <a href="/tac-gia/138/mario-vargas-llosa">{{course.author}}</a>                                                                  
                            </li>
                            <li class="dataattr">
                                    <span>Dịch giả: </span>
                                    <a href="/nhom-dich/380/ngan-xuyen">Ngân Xuyên</a>
                            </li>
                            <li class="dataattr">
                                    <span>Nhà xuất bản: </span>
                                    <a href="/nha-xuat-ban/1/hoi-nha-van">Hội nhà văn</a>
                            </li>
                    </ul>

                    <ul>
                        <li>Số trang: 161</li>
                        <li>Kích thước: 14 x 20.5cm</li>
                        <li>Ngày phát hành: 22-06-2023</li>
                    </ul>
                    <div class="sbuttons">
                        <div class="fb-like fb_iframe_widget" data-href="http://nhanam.com.vn/sach/44720/thu-gui-nha-tieu-thuyet-tre" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=1493941954174127&amp;container_width=245&amp;href=http%3A%2F%2Fnhanam.com.vn%2Fsach%2F44720%2Fthu-gui-nha-tieu-thuyet-tre&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true"><span style="vertical-align: bottom; width: 150px; height: 28px;"><iframe name="f3c865e62967268" width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=1493941954174127&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1e2e89e056304%26domain%3Dnhanam.com.vn%26is_canvas%3Dfalse%26origin%3Dhttp%253A%252F%252Fnhanam.com.vn%252Ff5b94f4beeecd%26relation%3Dparent.parent&amp;container_width=245&amp;href=http%3A%2F%2Fnhanam.com.vn%2Fsach%2F44720%2Fthu-gui-nha-tieu-thuyet-tre&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true" style="border: none; visibility: visible; width: 150px; height: 28px;" class=""></iframe></span></div>
                    </div>
                </div>
                <div class="action">
                        <div class="price">
                            <p class="oldprice">
                                Giá bìa:  <span>109.000đ</span>
                            </p>
                            <p>Giá Nhã Nam: <span>87.200đ</span> (Đã có VAT)</p>
                        </div>
					<script>
                        fbq('track', 'ViewContent', {
                        content_name: 'Thư gửi nh&#224; tiểu thuyết trẻ',
                        content_category: 'Media > Books',
                        content_ids: ['8935235237926'],
                        content_type: 'product',
                        value: 87200,
                        currency: 'VND'
                        });
					</script>
                    <div class="quantitytext">
                        Số lượng:
                    </div>
                    <div class="quantity">
                        <input type="text" value="1" onkeypress="return KeyPressQty(event)" class="tbQty" name="qty" id="quantity" style="color: red;">
                        <span class="arrowBlock">
                            <a class="upQty" href="javascript: upQtyClick();"></a>
                            <a class="downQty" href="javascript: downQtyClick();"></a>
                        </span>
                    </div>
                    <a href="javascript:;" class="addtocart" data-id="44720" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="44720" data-state="0">Mua ngay</a>
                </div>
            </div>              
    </div>
    
</div>




<div class="bookdetailblockcontent">
        <h1> Giới thiệu sách</h1>
        <ul>
            <li>{{course.description}}</li>
        </ul>
        {{!-- <article>
            <p><em>Thư gửi nhà tiểu thuyết trẻ</em> là bản tổng kết kinh nghiệm viết và đọc tiểu thuyết của một trong những nhà văn lớn nhất thời đại chúng ta, Mario Vargas Llosa.</p>
            <p>Chứa đựng một lượngkiến thức đồ sộ, trong hình thức những bức thư tín gần gũi, thu ngắn khoảng cách về thời gian và địa lý, đó là những câu chuyện về phong cách, về người kể chuyện, về không gian, thời gian tự sự... của các kiệt tác văn chương cùng cách chúng được viết ra dưới bàn tay của các văn hào thế giới như Flaubert, Kafka, Faulkner, Céline…</p>
            <p>Một cuốn “giáo trình nhập môn” cho bất kỳ ai chuẩn bị dấn thân vào con đường của một nhà tiểu thuyết hay một tác phẩm để suy ngẫm cho bất kỳ bạn đọc nào say mê thể loại lớn này của văn chương!</p>
            <p>&nbsp;</p>
            <p>Mario Vargas Llosa (sinh 1936), người Peru, là một trong những nhà văn hàng đầu của Mỹ La-tinh và thế giới.</p>
            <p>Ông được Viện hàn lâm Thụy Điển trao giải Nobel Văn chương năm 2010.</p>
            <p>&nbsp;</p>
            <p>Các tác phẩm của Mario Vargas Llosa do Nhã Nam xuất bản:</p>
            <p><em>Thành phố và lũ chó</em></p>
            <p><em>Trò chuyện trong quán La Catedral</em></p>
        </article> --}}
</div>





<div class="bookdetailblock bookdetailblockrelated" id="bookrelatedauthor">
    <h1> Sách cùng tác giả</h1>
    <article>              
        <div class="bookslider">
            <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; inset: auto; z-index: auto; width: 900px; height: 210px; margin: 0px; overflow: hidden;">
                <ul class="clearfix listbook3" style="text-align: left; float: none; position: absolute; inset: 0px auto auto 0px; margin: 0px; width: 1800px; height: 210px;">
                    <li class="book3 bookimage0">
                    <a title="Thư gửi nhà tiểu thuyết trẻ" class="image" href="/sach/44720/thu-gui-nha-tieu-thuyet-tre">
                        <img src="http://static.nhanam.com.vn/thumb/146x226/crop/Books/Images/2023/6/13/YGHZ64JH.jpg" alt="Thư gửi nhà tiểu thuyết trẻ">
                    </a>
                    </li>

                    <li class="book3 bookimage0">
                        <a title="Trò chuyện trong quán La Catedral  " class="image" href="/sach/612/tro-chuyen-trong-quan-la-catedral">

                                <img src="http://nhanam.vn/sites/default/files/tro_chuyen_trong_quan_la_catedral-tro_chuyen_trong_quan_la_catedral.jpg" alt="Trò chuyện trong quán La Catedral  ">

                        </a>
                    </li>

                    <li class="book3 bookimage0">
                        <a title="Thành phố và lũ chó" class="image" href="/sach/491/thanh-pho-va-lu-cho">
                                <img src="http://nhanam.vn/sites/default/files/thanh_pho_va_lu_cho_0.jpg" alt="Thành phố và lũ chó">
                        </a>
                    </li>
                </ul>
            </div>
            <a class="prev hidden" href="#" style="display: none;">&lt;</a>
            <a class="next hidden" href="#" style="display: none;">&gt;</a>
        </div>
    </article>
</div>

<div class="wrapper">
    © 2023 - Bản quyền của Công Ty Cổ Phần Văn Hoá và Truyền Thông <a href="/" style="color:#fff">abc.com.vn</a> 
    <br> Địa chỉ: quận Cầu Giấy, Hà Nội
    <br> Giấy ĐKKD số 01016  do Sở KH&amp;ĐT TP Hà Nội cấp ngày 21 tháng 1 năm 2005 sửa đổi lần 5 ngày 20/3/2013
</div>